DATABASE_URL="postgresql://postgres:password@host:5432/postgres?schema=public&sslmode=disable"
INSTAGRAM_URL="https://www.instagram.com/yourpage"
NEXT_PUBLIC_INSTAGRAM_URL="https://www.instagram.com/yourpage"
